.list {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 30px;

    width: 100%;
    max-width: 1228px;

    margin: 0 auto;

    z-index: 2;

    margin-top: 117px;
    margin-bottom: 100px;
}

.item {
    display: grid;
    grid-template-areas:
        'img text'
        'img button';
    column-gap: 45px;
    row-gap: 40px;

    padding: 42px;

    width: 100%;
    max-width: 600px;

    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &__img {
        grid-area: img;

        width: 100%;
        max-width: 220px;
    }

    &__text {
        grid-area: text;

        width: 100%;
        max-width: 237px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 105%;

        color: #000000;
    }

    &__button {
        grid-area: button;
    }
}