.wrapper {
    width: 100%;
    max-width: 1228px;

    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 78px;

    display: flex;
    justify-content: flex-end;
}

.flags {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        cursor: pointer;

        border: none;
        background-color: transparent;

        transition: .3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        color: #000000;

        width: 20px;
        text-align: center;

        cursor: pointer;
    }
}