@media screen and (max-width: 1420px){
    .wrapper{
        max-width: 976px;
    }
}

@media screen and (max-width: 1024px){
    .wrapper{
        padding: 0px 24px;
    }
}


@media screen and (max-width: 1024px){
    .wrapper{
        margin-top: 80px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 420px){
    .wrapper{
        padding: 0px 15px;

        margin-top: 50px;
        margin-bottom: 98px;
    }
}