.error {
    height: 100vh;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 30px;
    }

    &__text {
        font-size: 25px;
    }
}