.info {
    width: 100%;
    max-width: 729px;

    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    &__li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        color: #000000;

        list-style-type: none;

        position: relative;

        &::before{
            content: '—';

            display: inline-block;
            width: 10px;
            height: 1px;

            position: absolute;
            left: -25px;
        }
    }
}