.anchor{
    width: 10px;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 0px;

    transform: translateY(-50%);

    z-index: -999999;
}
.about {
    position: relative;

    margin: 0 auto;
    margin-top: 94px;
    margin-bottom: 113px;

    min-width: 320px;
    width: 100%;
    max-width: 1245px;

    display: grid;
    grid-template-areas:
        'title subtitle'
        '. text'
        '. button';
    column-gap: 54px;
    row-gap: 45px;

    &__title {
        grid-area: title;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 85px;
        line-height: 60px;

        color: #1491FF;

        margin-top: 9px;
    }

    &__subtitle {
        grid-area: subtitle;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;

        color: #000000;
    }

    &__text {
        grid-area: text;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */


        color: #000000;
    }

    &__button {
        grid-area: button;

        width: fit-content;
    }
}

@import './AboutMedia.module.scss';